[Unit]
Description=Digital signage data synchronization and RPC client
Requires=network-online.target
After=network-online.target

[Service]
User=digsig
Group=digsig
WorkingDirectory=/usr/share/digsig
ExecStart=/usr/bin/digsigclt
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
